## Warm up recommender system

In [21]:
import pandas as pd
from scipy.sparse import csr_matrix

In [22]:
movies = '/Users/saragunnars/Skola/GitHub/Machine-learning-Sara-Gunnars/Data/ml-latest-small/movies.csv'
ratings = '/Users/saragunnars/Skola/GitHub/Machine-learning-Sara-Gunnars/Data/ml-latest-small/ratings.csv'

df_movies = pd.read_csv(movies, usecols = ['movieId', 'title'], dtype = {'movieId':'int32', 'title':'str'})
df_ratings = pd.read_csv(ratings, usecols = ['userId','movieId', 'rating'], dtype = {'userId':  'int32','movieId':'int32', 'rating':'float32'})

In [23]:
df_movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [24]:
df_ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

### Sparse Matrix

In [26]:
movies_users = df_ratings.pivot(index = 'movieId', columns = 'userId', values = 'rating')