## Disease prediction assigement

In [235]:
#importing tools
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [236]:
#loading data
data = '/Users/saragunnars/Skola/GitHub/Machine-learning-Sara-Gunnars/Data/cardio_train.csv'
df_cardio = pd.read_csv(data, sep = ';')  #seperates columns by ;

### Data cleaning

#### Data description from Kaggle
https://www.kaggle.com/datasets/sulianova/cardiovascular-disease-dataset?resource=download
1. Age | Objective | Feature | age | int (days)
2. Height | Objective | Feature height | int (cm) |
3. Weight | Objective Feature | weight | float (kg) |
4. Gender | Objective Feature | gender | categorical code |  1 women 2 men
5. Systolic blood pressure | Examination Feature | ap_hi | int |
6. Diastolic blood pressure | Examination Feature | ap_lo | int |
7. Cholesterol | Examination Feature | cholesterol | 1: normal, 2: above normal, 3: well above normal |
8. Glucose | Examination Feature | gluc | 1: normal, 2: above normal, 3: well above normal |
9. Smoking | Subjective Feature | smoke | binary |
10. Alcohol intake | Subjective Feature | alco | binary |
11. Physical activity | Subjective Feature | active | binary |
12. Presence or absence of cardiovascular disease | Target Variable | cardio | binary |

In [237]:
df_cardio.info()# overlook of datatypes and amounts of values in each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

In [238]:
df_cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [239]:
#converting age from days to years
df_cardio['age'] = df_cardio['age'] / 365
df_cardio['age'] = df_cardio['age'].astype(int) #removing away decimals in age by converting to int
df_cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,2,168,62.0,110,80,1,1,0,0,1,0
1,1,55,1,156,85.0,140,90,3,1,0,0,1,1
2,2,51,1,165,64.0,130,70,3,1,0,0,0,1
3,3,48,2,169,82.0,150,100,1,1,0,0,1,1
4,4,47,1,156,56.0,100,60,1,1,0,0,0,0

##### Removing min blood pressure values that are unresonable

In [240]:
df_cardio.min()

id               0.0
age             29.0
gender           1.0
height          55.0
weight          10.0
ap_hi         -150.0
ap_lo          -70.0
cholesterol      1.0
gluc             1.0
smoke            0.0
alco             0.0
active           0.0
cardio           0.0
dtype: float64

In [241]:
df_cardio.min()

id               0.0
age             29.0
gender           1.0
height          55.0
weight          10.0
ap_hi         -150.0
ap_lo          -70.0
cholesterol      1.0
gluc             1.0
smoke            0.0
alco             0.0
active           0.0
cardio           0.0
dtype: float64

In [242]:
df_cardio['ap_hi'] = df_cardio['ap_hi'][df_cardio['ap_hi'] >= 0]
df_cardio['ap_lo'] = df_cardio['ap_lo'][df_cardio['ap_lo'] >= 0]

In [243]:
df_cardio.min()

id              0.0
age            29.0
gender          1.0
height         55.0
weight         10.0
ap_hi           1.0
ap_lo           0.0
cholesterol     1.0
gluc            1.0
smoke           0.0
alco            0.0
active          0.0
cardio          0.0
dtype: float64

In [244]:
df_cardio.max()

id             99999.0
age               64.0
gender             2.0
height           250.0
weight           200.0
ap_hi          16020.0
ap_lo          11000.0
cholesterol        3.0
gluc               3.0
smoke              1.0
alco               1.0
active             1.0
cardio             1.0
dtype: float64

##### Removing max blood pressure values that are unresonable

In [245]:
df_cardio['ap_lo'] = df_cardio['ap_lo'][df_cardio['ap_lo'] < 300]
df_cardio.max()

id             99999.0
age               64.0
gender             2.0
height           250.0
weight           200.0
ap_hi          16020.0
ap_lo            190.0
cholesterol        3.0
gluc               3.0
smoke              1.0
alco               1.0
active             1.0
cardio             1.0
dtype: float64

In [246]:
df_cardio['ap_hi'] = df_cardio['ap_hi'][df_cardio['ap_hi'] < 300]
df_cardio.max()

id             99999.0
age               64.0
gender             2.0
height           250.0
weight           200.0
ap_hi            240.0
ap_lo            190.0
cholesterol        3.0
gluc               3.0
smoke              1.0
alco               1.0
active             1.0
cardio             1.0
dtype: float64

###  2.0 Explorative data analysis