## Recommender system

- In this part of the lab I willbuild a recommender system  for movies

In [16]:
# importing pandas and other packages needed in the assignment
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

In [19]:
#loading data files needed for the assignement
movies = '/Users/saragunnars/Skola/GitHub/Machine-learning-Sara-Gunnars/Data/movies.csv'
ratings = '/Users/saragunnars/Skola/GitHub/Machine-learning-Sara-Gunnars/Data/ratings.csv'

#also selecting which columns I want to use and assigning data type to the specifik cols
df_ratings = pd.read_csv(ratings, usecols= ['userId','movieId', 'rating'], dtype = {'userId':  'int32','movieId':'int32', 'rating':'float32'})
df_movies = pd.read_csv(movies, usecols= ['movieId', 'title'], dtype = {'movieId':'int32', 'title':'str'})

## Explorative data analysis

In [20]:
df_movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [61]:
df_movies.info() # we have over 58 000 movies in the set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58098 entries, 0 to 58097
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  58098 non-null  int32
 1   title    58098 non-null  object
dtypes: int32(1), object(1)
memory usage: 681.0+ KB

In [68]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27753444 entries, 0 to 27753443
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int32
 1   movieId  int32
 2   rating   float32
dtypes: float32(1), int32(2)
memory usage: 317.6 MB

In [119]:
#creates a list with the 10 most rated movies
most_rated = df_ratings['movieId'].value_counts()[:10].index.to_list()
df_most_rated = pd.DataFrame(most_rated) #ctreating DF
df_most_rated = df_most_rated.rename(columns= {0 : 'movieID'}) #setting new column name
df_most_rated

   movieID
0      318
1      356
2      296
3      593
4     2571
5      260
6      480
7      527
8      110
9        1